.chart-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}

.charts {
  width: 50vw;
  height: 50vh;
}

@media screen and (max-width: 1100px) {
  .charts {
    width: 80vw;
    height: 60vmin;
  }
}
