@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-content {
  padding: min(2em, 24px);
  overflow-y: scroll;
  -o-overflow-y: scroll;
  -moz-overflow-y: scroll;
  height: calc(100vh - 70px);
}
